#songOpt .play {     
            float:left;
            margin-left:0;
            height: 46px;  
            padding-left: 46px;
            background: url(../images/music_btn.png) no-repeat;  
            background-repeat:no-repeat;
            background-position: 0 -46px;
       }  
#songOpt .to-pause {  
            background-position: 0 0;
}  
 
